<div class="block" id="panel-overview">
  <div class="block_head">
    <div class="bheadl"></div>
    <div class="bheadr"></div>
    <h2>Receive</h2>
  </div><!-- END .block_head -->
  <div class="block_content">
    <p>TODO</p>
        
  </div><!-- END .block_content -->
  <div class="bendl"></div>
  <div class="bendr"></div>
</div><!-- END .block -->
