<div class="block" id="panel-receive">
  <div class="block_head">
    <div class="bheadl"></div>
    <div class="bheadr"></div>
    <h2>Receive</h2>
  </div><!-- END .block_head -->
  <div class="block_content">
    <section class="receive-panel">
       <h3>NOTE! THIS TAB, "RECEIVE", IS UNFINISHED, IT IS A MOCKUP. PLEASE DON'T EXPECT IT TO WORK YET. BUT THE OTHER TABS DO :-)</h3>
       <h3>Assets</h3>
       <table class="receive-panel__color-table">
         <thead>
           <tr>
             <td>Color</td>
             <td>Balance</td>
             <td>
               <button class="receive-panel__add-color-button">Add color</button>
             </td>
           </tr>
         </thead>
         <tbody>
           <tr class="receive-panel__color">
             <td class="receive-panel__color__name">BTC bitcoin</td>
             <td class="receive-panel__color__balance">----</td>
             <td class="receive-panel__color__action"><a class="receive-panel__color__hide-button" href="#">Hide</a></td>
           </tr>
           <tr class="receive-panel__clone-row receive-panel__color">
             <td class="receive-panel__color__name">BTC bitcoin</td>
             <td class="receive-panel__color__balance">----</td>
             <td class="receive-panel__color__action"><a class="receive-panel__color__hide-button" href="#">Hide</a></td>
           </tr>
         </tbody>
       <table>
    </section>
  </div><!-- END .block_content -->
  <div class="bendl"></div>
  <div class="bendr"></div>
</div><!-- END .block -->
